<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
       <title>Update Position</title>
       <link rel="stylesheet" th:href="@{/css/form.css}">
      </head>

    <body>
      <div class="container-form mt-5 bg-success p-2 text-dark bg-opacity-25">
        <div class="card-position">
            <form th:action="@{/save-update-position/{id}(id=${position.id})}" th:object="${position}" method="post" class="form ">
                <h1 class="text-center mb-4">update Position</h1>
                <div class="mb-3">
                    <label for="positionName" class="form-label">Position Name</label>
                    <input type="text" id="positionName" name="positionName" class="form-input" th:field="*{positionName}" required>
                    <div th:if="${namaPosError}" class="error" th:text="${namaPosError}"></div>
                </div>
                <div class="mb-3">
                    <label for="basicSalary" class="form-label">Basic Salary</label>
                    <input type="number" id="basicSalary" name="basicSalary" class="form-input" th:field="*{basicSalary}" required>
                </div>
                <button type="submit" class="btn-submit">Update position</button>
                <a href="/position" class="btn-list">Back to List</a>
            </form>
        </div>
       </div>
    </body>
</html>